.alert{
    color: green;
    font-size: 35px;
}

#heading{
    color: green;
    font-size: 40px;
}

h1{
    color: red;
}

.box{
    background-color: brown;
    width: 100vw;
}
.btn{
    padding: 10px;
}

h5{
    color: blue;
    font-size: 20px;
}
h3{
    color: yellow;
    font-size: 25px; 
    border-color: aqua;
}